streamlit
pandas
scikit-learn
pandas-profiling==3.2.0
streamlit-pandas-profiling
openpyxl
pydantic<2.0  # Ensure compatibility with pandas-profiling
pydantic-settings  # Required for newer Pydantic versions
class-doc  # Remove `pip install --pre`
